
<div class="grid-container centered">
  <ul> <a ng-click="activeTab = 'Bundle'" ng-class="{'tabActive': activeTab === 'Bundle'}" class="tab">Add URL</a><a ng-click="activeTab = 'Story'" ng-class="{'tabActive': activeTab === 'Story'}" class="tab">Categories</a>
    <div ng-switch="activeTab" class="switch-container_animation">
      <!--ADD STORY-->
      <div ng-switch-when="Story" class="categories-filter">
        <h4 class="text-center">Categories</h4>
        <form>
          <div ng-repeat="tags in existingTags">
            <input id="{{tags._id}}" type="checkbox"/>
            <label for="{{tags._id}}">{{tags.text}}</label>
          </div>
        </form>
        <button type="submit" ng-click="filter()" class="button-auth expand">Filter</button>
      </div>
      <!--ADD BUNDLE-->
      <div ng-switch-default="ng-switch-default" class="switch-content_animation">
        <h4 class="text-center">Add Bundle</h4>
        <form method="post" ng-submit="bundleSubmit()" name="addBundleForm">
          <label>Title
            <input type="text" ng-model="$parent.title" placeholder="Enter bundle title" name="title" required="required"/>
            <div ng-if="loginForm.title.$dirty" ng-messages="loginForm.title.$error" class="validation">
              <div ng-message="required" class="message">Try again, a title is required</div>
            </div>
          </label>
          <label>URL
            <input type="url" ng-model="$parent.url" placeholder="URL" name="url" required="required"/>
            <div ng-if="loginForm.url.$dirty" ng-messages="loginForm.url.$error" class="validation">
              <div ng-message="required" class="message">We do need a url though</div>
            </div>
          </label>
          <label>Tags
            <tags-input add-on-space="true" ng-model="$parent.tags" placeholder="Add a tag" name="bundleag"></tags-input>
          </label>
          <button type="submit" ng-disabled="addBundleForm.$invalid" class="button-auth expand">Submit</button>
        </form>
      </div>
    </div>
  </ul>
</div>