.grid-container.centered
	ul 
		a.tab(ng-click="activeTab = 'Bundle'" ng-class="{'tabActive': activeTab === 'Bundle'}") Add URL
		a.tab(ng-click="activeTab = 'Story'" ng-class="{'tabActive': activeTab === 'Story'}") Categories
		
		.switch-container_animation(ng-switch="activeTab")
			//ADD STORY
			.categories-filter(ng-switch-when="Story")
				h4.text-center Categories
				form
					div(ng-repeat="tags in existingTags")
						input(id="{{tags._id}}" type="checkbox")
						label(for="{{tags._id}}") {{tags.text}}
				button.button-auth.expand(type="submit" ng-click="filter()") Filter


			//ADD BUNDLE
			.switch-content_animation(ng-switch-default)
				h4.text-center Add Bundle
				form(method="post" ng-submit="bundleSubmit()" name="addBundleForm")
					label Title
						input(type="text", ng-model="$parent.title" placeholder="Enter bundle title" name="title" required)
						.validation(ng-if="loginForm.title.$dirty" ng-messages="loginForm.title.$error")
							.message(ng-message="required") Try again, a title is required
					label URL
						input(type="url", ng-model="$parent.url" placeholder="URL" name= "url" required)
						.validation(ng-if="loginForm.url.$dirty" ng-messages="loginForm.url.$error")
							.message(ng-message="required") We do need a url though

					label Tags
						tags-input(add-on-space="true" ng-model="$parent.tags" placeholder="Add a tag" name="bundleag")

					button.button-auth.expand(type="submit" ng-disabled="addBundleForm.$invalid") Submit
