.vertical.grid-block
	.welcome-img-container
		.welcomebg
			.welcome-text
				h3 Saving and categorizing all of your websites
				h5 The best bookmark manager ever created, by anyone, ever...
				a.alert.button(ui-sref="signup") Get Started
	.welcome-content.large-12.medium-12.small-12.align-center
		h4 Use your old bookmarks
		h5 Can't remember why you bookmarked something?  Have an unending list of old bookmarks you haven't visted in months?  Maintaining things in visual memory is a more effective means of recall.  BetterBookmarks visualizes your favorite links to do just that!
		.list-unstyled
			li: i.fi-clipboard-notes.size-72
				h5 Auto-scrape your hyperlinks for key site images 
			li: i.fi-lightbulb.size-72
				h5 Auto-generate summaries
			li: i.fi-male-female.size-72
				h5 Share your links with friends and colleagues 

	